@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');
@import 'tailwindcss';
@import '../../vendor/livewire/flux/dist/flux.css';

@plugin "@tailwindcss/typography";
@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-gluten: "Gluten", sans-serif;

    --font-sans: 'Gluten', ui-sans-serif, system-ui, sans-serif;
    --color-brown-50: oklch(0.97 0.02 68);
    --color-brown-100: oklch(0.93 0.04 67);
    --color-brown-200: oklch(0.87 0.07 66);
    --color-brown-300: oklch(0.80 0.10 65);
    --color-brown-400: oklch(0.71 0.12 64);

    --color-brown-500: oklch(0.62 0.14 63); /* #C67425 */
    --color-brown-600: oklch(0.53 0.13 61);
    --color-brown-700: oklch(0.45 0.11 59);
    --color-brown-800: oklch(0.36 0.09 57);
    --color-brown-900: oklch(0.28 0.07 55);
    --color-brown-950: oklch(0.20 0.05 53);

    --color-accent: var(--color-brown-500);
    --color-accent-content: var(--color-brown-600);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-brown-400);
        --color-accent-content: var(--color-brown-400);
        --color-accent-foreground: var(--color-brown-950);
    }
}


@layer base {

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio, ui-checkbox) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply  !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */
